
.button-container {
    max-width: 1519px;
    height: 99px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.znak-and-weigth {
    width: 617px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.znak-and-weigth p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: #B7B7B7;
}

.button-panda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 99px;
    border-radius: 20px;
    padding: 45px 30px;
    gap: 10px;
    background-color: #FFFFFF;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 90%;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 105px rgba(96, 242, 142, 0.498);
    transition: all 0.3s ease;
    cursor: pointer;
    background: linear-gradient(to right, #209D53 50%, #48C57B);
}

.button-panda:hover {
    box-shadow: 0 6px 25px rgba(32, 189, 83, 0.25);
    transform: translateY(-3px);
    background: linear-gradient(to right, #1d8a4a 50%, #3db66a);
}

.button-panda:active {
    transform: translateY(1px);
    box-shadow: 0 2px 15px rgba(32, 189, 83, 0.2);
}

@media (max-width: 1200px) {
    .button-container {
        max-width: 100%;
        margin: 40px auto 80px auto;
    }
    
    .znak-and-weigth {
        width: 500px;
    }
    
    .znak-and-weigth p {
        font-size: 20px;
    }
    
    .button-panda {
        width: 350px;
        height: 90px;
        font-size: 20px;
        padding: 40px 25px;
    }
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 30px auto 60px auto;
        gap: 40px;
        width: calc(100% - 50px);
        max-width: calc(100vw - 50px);
    }
    
    .znak-and-weigth {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        gap: 8px;
        box-sizing: border-box;
    }
    
    .znak-and-weigth p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #B7B7B7;
        text-align: start;
        margin: 0;
        width: 100%;
    }
    
    .znak-and-weigth img {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }
    
    .button-panda {
        width: 100%;
        max-width: 100%;
        height: 76px;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding: 20px 15px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-sizing: border-box;
    }
    
    .button-panda img {
        width: 13px;
        height: 13px;
        flex-shrink: 0;
    }
}