.button-container{
    max-width: 1519px;
    height: 99px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.znak-and-weigth{
    width: 617px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.znak-and-weigth p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: #B7B7B7;
}

.button-panda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 99px;
    border-radius: 20px;
    padding: 45px 30px;
    gap: 10px;
    background-color: #FFFFFF;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 90%;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 105px rgba(96, 242, 142, 0.498);
    transition: all 0.3s ease;
    cursor: pointer;
    background: linear-gradient(to right, #209D53 50%, #48C57B);
}

.button-panda:hover {
    box-shadow: 0 6px 25px rgba(32, 189, 83, 0.25);
    transform: translateY(-3px);
    color: #ffffff;
    background-color: #f8fff9;
}

.button-panda:active {
    transform: translateY(1px);
    box-shadow: 0 2px 15px rgba(32, 189, 83, 0.2);
}