.documentation-section {
    width: 100%;
}

.documentation-container {
    max-width: 1519px;
    width: 100%;
    margin: 0 auto;
}

.documentation-title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 55px;
    color: #3F3F3F;
    text-transform: uppercase;
    margin-bottom: 52px;
    text-align: start;
    line-height: 125%;
}

.documents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 747px));
    gap: 25px;
    justify-content: center;
}

.document-card {
    max-width: 747px;
    max-height: 350px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 41px 65px 52px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.document-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(32, 189, 83, 0.15);
    background: #FFFFFF;
}

.document-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #3F3F3F;
    margin: 0;
    margin-bottom: 12px;
    line-height: 100%;
}

.document-description {
    width: 616px;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    color: #3F3F3F;
    flex-grow: 1;
    margin: 0;
    text-align: center;
}


@media (max-width: 768px) {
    .documentation-title {
        font-size: 42px;
    }
    
    .document-card {
        padding: 30px;
        min-height: 300px;
    }
    
    .document-title {
        font-size: 28px;
    }
    
    .document-description {
        font-size: 18px;
    }
}