.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
}

.modal-content {
    width: 457px;
    height: 573px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px 25px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-bottom: 34px;
}

.modal-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    color: #3F3F3F;
    margin: 0;
}

.modal-description {
    width: 457px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #3F3F3F;
    margin: 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input {
    height: 62px;
    background: rgba(183, 183, 183, 0.2);
    border-radius: 10px;
    border: none;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3F3F3F;
    outline: none;
}

.form-input::placeholder {
    color: #A9A9A9;
}

.social-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color:rgba(183, 183, 183, 0.9);
}

.social-toggle {
    height: 60px;
    display: flex;
    align-items: center;
    background: rgba(183, 183, 183, 0.2);
    border-radius: 10px;
    position: relative;
}

.social-slider {
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    background: #FFFFFF;
    border-radius: 8px;
    transition: transform 0.3s ease;
    z-index: 1;
    width: calc(33.333% - 10px);
}

.social-option {
    flex: 1;
    position: relative;
    z-index: 2;
}

.social-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.social-option label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #A9A9A9;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: center;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

.social-option input[type="radio"]:checked + label {
    color: rgba(63, 63, 63, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
    margin-bottom: 30px;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.custom-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(183, 183, 183, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark img {
    width: 16px;
    height: 12px;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark img {
    display: block;
}

.checkbox-group label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgba(183, 183, 183, 0.9);
    cursor: pointer;
    line-height: 34px;
    user-select: none;
}

.modal-submit {
    height: 68px;
    background: linear-gradient(to right, #209D53 50%, #48C57B);
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: -20px;
}

.modal-close {
    position: absolute;
    top: 27px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 24px;
    color: #A9A9A9;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .modal-overlay {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        width: 100%;
        max-width: 353px;
        min-height: 440px;
        height: auto;
        padding: 30px 20px;
        margin-top: 0;
    }

    .modal-title {
        font-size: 20px;
        text-align: center;
    }

    .modal-description {
        width: 100%;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
    }

    .modal-form {
        gap: 25px;
    }

    .form-input {
        height: 55px;
        padding: 0 20px;
        font-size: 14px;
    }

    .social-group {
        gap: 10px;
    }

    .social-label {
        font-size: 14px;
    }

    .social-toggle {
        height: 55px;
    }

    .social-option label {
        height: 35px;
        font-size: 14px;
        padding: 0 5px;
    }

    .social-option input[type="radio"]:checked + label {
        font-size: 14px;
    }

    .social-slider {
        top: 5px;
        bottom: 5px;
        width: calc(33.333% - 10px);
    }

    .checkbox-group {
        margin: -15px 0 30px 0;
    }

    .checkbox-group label {
        font-size: 14px;
    }

    .custom-checkbox {
        width: 34px;
        height: 34px;
    }

    .checkmark {
        width: 34px;
        height: 34px;
    }

    .modal-submit {
        height: 60px;
        font-size: 16px;
        margin-top: -20px;
    }
}

@media (max-width: 480px) {
    .modal-overlay {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        max-width: 100%;
        min-height: 440px;
        padding: 25px 15px;
        border-radius: 20px;
    }

    .modal-header {
        gap: 20px;
        margin-bottom: 25px;
    }

    .modal-title {
        font-size: 18px;
        text-align: start;
    }

    .modal-description {
        font-size: 13px;
        line-height: 130%;
    }

    .modal-form {
        gap: 20px;
    }

    .form-input {
        height: 50px;
        padding: 0 15px;
        font-size: 13px;
    }

    .social-toggle {
        height: 50px;
    }

    .social-option label {
        height: 30px;
        font-size: 13px;
    }

    .social-slider {
        width: calc(33.333% - 8px);
    }

    .checkbox-group {
        margin: -15px 0 25px 0;
    }

    .custom-checkbox {
        width: 30px;
        height: 30px;
    }

    .checkmark {
        width: 30px;
        height: 30px;
    }

    .checkbox-group label {
        font-size: 13px;
        line-height: 30px;
    }

    .modal-submit {
        height: 55px;
        font-size: 15px;
        border-radius: 15px;
    }

    .modal-close {
        top: 20px;
        right: 20px;
    }
}