.footer {
    width: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1519px;
    margin: 0 auto;
}

.logo-socials{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.socials-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.socials-block p {
    font-family: 'Montserrat' ,sans-serif;
    width: 156px;
    height: 24px;
    font-weight: 600;
    font-size: 20;
    line-height: 100%;
    color: #3F3F3F;
    margin: 0;
    text-align: end;
    align-items: center;
}

.socials-links{
    display: flex;
    width: 170px;
    height: 44px;
    gap: 19px;
}

.footer-footer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 25px;
}

.footer-footer a {
    text-decoration: none;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #A9A9A9;
}

.footer-last{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 25px;
    position: relative;
}

.footer-last a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #A9A9A9;
}

.contact-mobile {
    display: none; 
}

.contact-email {
    display: none; 
}

.logoPandaFooter{
        width: 188px;
        height: 60px;
    }

@media (max-width: 768px) {


    .logo-socials {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        gap: 30px;
    }
    
    .logoPandaFooter {
        width: 128px;
        height: 42px;
    }
    
    .logo-socials .socials-block {
        align-self: flex-end;
    }
    
    .socials-block {
        gap: 10px;
    }
    
    .footer-footer {
        margin-bottom: -5px;
        margin-top: 90px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-footer p {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
    }
    
    .footer-last {
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative; 
    }
    
    .footer-last p {
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
    }
    
    .footer-last a:nth-child(2),
    .footer-last a:nth-child(3) {
        display: none;
    }
    
    .contact-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 20px;
        top: -215px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .contact-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 20px;
        top: -255px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    .contact-mobile a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #A9A9A9;
        text-align: center;
    }
    .contact-email a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #A9A9A9;
        text-align: center;
    }
}