@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Unbounded:wght@300;600&display=swap');

.mainInfo-section{
    position: relative;
    width: 100%;
    height: 1041px;
    overflow: hidden; 
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.bg-country{
    background-image: url('../../assets/fonts/bgCountry.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 100px; 
    border-bottom-right-radius: 100px; 
}

.bg-country::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, 
        rgba(63, 171, 107, 0.9) 0%,         
        rgba(28, 164, 72, 0.9) 25%,          
        rgba(28, 164, 72, 0.9) 50%, 
        rgba(28, 164, 72, 0.9) 75%, 
        rgba(63, 171, 107, 0.9) 100%);
    z-index: 1;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.mainInfo-container{
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
    width: 100%; 
    max-width: 1519px;
    margin: 0 auto;
    z-index: 2; 
}

.airbusImage{
        position: absolute;
    width: 1470px;
    height: 974px;
    top: -30px;
    right: -428px;
    z-index: 10;
}

.logoPanda{
    position: absolute;
    top: 71px;
}

.info-text{
    position: absolute;
    top: 285px;
    max-width: 1080px;
    height: auto;
}

.info-text-title{
    font-family: 'Unbounded' , sans-serif;
    font-weight: 300;
    font-size: 51px;
    line-height: 125%;
    color: #FFFFFF;
}

.info-text-title span {
    font-family: 'Unbounded' , sans-serif;
    font-weight: 600;
    font-size: 51px;
    line-height: 125%;
    color: #FFFFFF;
}

.info-text-description{
    width: 625px;
    height: 74px;
    font-size: 30px;
    line-height: 100%;
    font-family:  'Montserrat', sans-serif;
    color: #FFFFFF;
}

.main-click-button{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 99px;
    border-radius: 20px;
    padding: 45px 30px;
    gap: 10px;
    background-color: #FFFFFF;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 90%;
    color: #20BD53;
    border: none;
    box-shadow: 0px 0px 105px rgba(96, 242, 142, 0.498);
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-button:hover {
    box-shadow: 0 6px 25px rgba(32, 189, 83, 0.25);
    transform: translateY(-3px);
    color: #179845;
    background-color: #f8fff9;
}

.main-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 15px rgba(32, 189, 83, 0.2);
}

.click-button-description{
    width: 407px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;font-size: 22px;
     line-height: 100%;
}

.foot-block{
    width: 1519px;
    height: 255px;
    position: relative;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 50px;
    z-index: 1000;
}

.foot-block-title{
    margin-top: 30px;
    color: #B7B7B7;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 100%;
    align-content: center;
}

.foot-block-description{
    position: absolute;
    top: 115px;
    display: flex;
    justify-content: space-between;
   width: 1319px;
   height: 67px;
}

.foot-block-description span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #3F3F3F;
}

.foot-block-description p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: #3F3F3F;
}

.foot-block-description p:last-child {
    text-align: right;
}

.count1{
    position: absolute;
    top: 125px;
    left: 78px;
}
.count2{
    position: absolute;
    top: 125px;
    left: 565px;
}
.count3{
    position: absolute;
    top: 125px;
    left: 1175px;
}