.whyWhite-section{
    width: 100%;
    height: 594px;
    background: linear-gradient(to right, #209D53 50%, #48C57B);
    border-radius: 50px;
    margin-bottom: 30px;
}

.whyWhite-container{
    max-width: 1519px;
    margin: 0 auto;
}

.whyWhite-title span {
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 125%;
    color: #FFFFFF;
}

.whyWhite-title{
    font-family: 'Unbounded', sans-serif;
    max-width: 1000px;
    height: 69px;
    font-weight: 300;
    font-size: 55px;
    line-height: 125%;
    color: #FFFFFF;
    padding-top: 82px;
    padding-bottom: 22px;
}

.whyWhite-list {
    width: 1362px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none; 
    padding: 0;
}

.whyWhite-item {
    position: relative;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    padding-left: 30px;
}

.whyWhite-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px; 
    width: 8px; 
    height: 8px; 
    background-color: #FFFFFF;
    border-radius: 50%;
}
.whyWhite-item span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF; 
}

